<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         failOnWarning="false"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects">
    <testsuites>
        <testsuite name="Automarket TP8">
            <directory>tests/service</directory>
            <directory>tests/integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
